@charset "utf-8";
/* CSS Document */
body {
	margin: 0px;
	background-image: url(Images/alien-hack-master/background.gif);
	background-repeat: no-repeat;
	position: relative;
}
.content {
	width: 317px;
	height: 472px;
	margin: 0;              /* 2 */
	top: 0px;
	left: 1px;
	position: relative;
}
.menubutton1{
	margin: 0;
	position: absolute;               /* 2 */
	top: 117px;
	left: 78px;
	height: 51px;
}
.menubutton2{
	margin: 0;
	position: absolute;               /* 2 */
	top: 202px;
	left: 50px;
	height: 55px;
}
.menubutton3{
	margin: 0;
	position: absolute;               /* 2 */
	top: 290px;
	left: 71px;
	height: 52px;
}
